@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rubik:wght@300&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    border:0px;
}

header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: rubik;
    padding: 20px;
    gap: 20px;
    color: #3C184E;


}

.logo {
    width: 24px;
    min-height: 24px;
    min-height: 24px;
    max-width: 24px;    
}

main {
    display: flex;
    flex-direction: columns;
    padding-left: 20px;
    padding-right: 0px;
    color: #3C184E;
    flex-wrap: wrap;
    

}



.titulo-imagem {
    margin-top:0px;
}


.titulo {
    font-family: Merriweather, serif;
    color: #3C184E;
    font-weight: 900 bold;
    font-size: 64px;
    max-width: 600px;
    margin-bottom: 0px;
}


.chamada{
    font-family: rubik;
    color: #3C184E;
    font-weight: 400;
    font-size: 16px;
    
}

.botao1{
    font-family: rubik;
    color: #ffffff;
    background-color: #713FFF;
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 40px;
    font-weight: 400;
    font-size: 16px;
    
}

.botao1:hover {
    background-color: #a98aff;}

.botao2{
        font-family: rubik;
        color: #000000;
        background-color: #ffffff;
        width: 180px;
        height: 50px;
        margin: 20px;
        border: none;
        border-radius: 40px;
        font-weight: 400;
        font-size: 16px;
        
}

.botao2:hover {
    background-color: rgba(235, 214, 255, 0.53);}

.imagem{ /*transformou todas imagens em um item*/
    display: block;
    max-width: 700px;
    margin: 0px;
    padding: -20px;
    border-width: 0px;
    float: right;
    
    
}

