@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rubik:wght@300&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    font-family: rubik;
    padding-left: 50px;
    padding-top: 20px;
    gap: 20px;
    color: #3C184E;}

header .logo {
    width: 33px;   
    height: 33px;
    align-self: center;
    padding-left: 3px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #3C184E;
    flex-wrap: wrap;
}

main .titulo-imagem {
    margin-top:0px;
}

main .conteudo-esquerda {
    padding: 50px;    
}


main .conteudo-esquerda .titulo {
    font-family: Merriweather, serif;
    color: #3C184E;
    font-weight: 900 bold;
    font-size: 64px;
    max-width: 600px;
    margin-bottom: 0px;
}


main .chamada{
    font-family: rubik;
    color: #3C184E;
    font-weight: 400;
    font-size: 16px;
    
}

main .btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-family: rubik;
    color: #ffffff;
    background-color: #713FFF;
    width: 230px;
    height: 45px;
    border: none;
    border-radius: 40px;
    font-weight: 400;
    font-size: 16px;    
}



main .btn:hover {
    background-color: #a98aff;}


aside .image{
    width: 500px;
    padding: 30px;
    justify-content: center;
}

/*=========MEDIA QUERIES (DISPOSITIVOS PEQUENOS) ==========*/
@media screen and (max-width:600px){
    header {
        justify-content: center;
        padding: 0;
        padding-top: 15px;

    }
    
    main .conteudo-esquerda .titulo {
        margin-top: 0px;
        font-size: 35px;
}

    main .btn{
        
        margin-left: auto;
        margin-right: auto;
}

    main .conteudo-esquerda{
        padding-bottom: 0px;
    }

    aside .image{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
    }
}